In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('train.csv')

In [3]:
df.isnull().sum()

cust_id                                 0
age                                     0
Gender                                  0
Usage Frequency                         0
Support Calls                           0
type_plan                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
Total Spend                             0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [10]:
df.tail()

,cust_id,age,Gender,Usage Frequency,Support Calls,type_plan,arrival_year,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,Total Spend,no_of_special_requests,booking_status
29015,INN16851,44,Female,5,5,Premium,2023,12,26,Offline,0,0,471,2,Not_Canceled
29016,INN06266,61,Female,8,3,Standard,2023,10,16,Online,0,0,760,0,Canceled
29017,INN11285,34,Male,2,8,Basic,2024,5,24,Corporate,0,0,443,1,Not_Canceled
29018,INN00861,18,Male,10,0,Standard,2024,6,7,Online,0,0,482,0,Canceled
29019,INN15796,53,Female,2,5,Standard,2024,9,15,Online,0,0,475,0,Not_Canceled

In [5]:
## Dropping 'cust_id' as it is not useful for our analysis beacsue it is unique for each customer
df.drop(columns=['cust_id'], inplace=True)
df.head()

,age,Gender,Usage Frequency,Support Calls,type_plan,arrival_year,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,Total Spend,no_of_special_requests,booking_status
0,51,Male,26,10,Premium,2023,10,17,Online,0,0,549,0,Not_Canceled
1,34,Male,9,8,Premium,2024,7,16,Online,0,0,308,2,Not_Canceled
2,60,Male,8,5,Standard,2024,9,8,Offline,0,0,828,0,Canceled
3,57,Female,4,0,Basic,2024,8,8,Offline,0,0,314,0,Not_Canceled
4,40,Male,13,0,Standard,2024,6,15,Offline,0,0,239,0,Canceled

In [8]:
df.rename(columns={'Support Calls': 'Support_calls','Usage Frequency':'Usage_frequency','Total Spend':'Total_spend'}, inplace=True)

In [9]:
df.head(1)

,age,Gender,Usage_frequency,Support_calls,type_plan,arrival_year,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,Total_spend,no_of_special_requests,booking_status
0,51,Male,26,10,Premium,2023,10,17,Online,0,0,549,0,Not_Canceled

In [11]:
cat_cols = [
    'booking_status',
    'Gender',
    'type_plan',
    'market_segment_type']

num_cols = [
    'age',
    'Usage_frequency',
    'Support_calls',
    'arrival_year',
    'arrival_month',
    'arrival_date',
    'no_of_previous_cancellations',
    'no_of_previous_bookings_not_canceled',
    'no_of_special_requests',
    'Total_spend',
]

In [14]:
df_copy = df.copy()

## Univariate Analysis

In [15]:
df_copy.head(1)

,age,Gender,Usage_frequency,Support_calls,type_plan,arrival_year,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,Total_spend,no_of_special_requests,booking_status
0,51,Male,26,10,Premium,2023,10,17,Online,0,0,549,0,Not_Canceled